@charset "utf-8";

.sp {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.pc {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.red {
  color: #ff4d66;
  font-weight: bold;
}

.orange {
  color: #ff8500;
  font-weight: bold;
}

.yellow {
  color: #fffe00;
  font-weight: bold;
}

.green {
  color: #81ab00;
  font-weight: bold;
}

.white {
  color: #fff;
}

.gray {
  color: #999;
}

header {
  width: 100%;
  height: 90px;
  position: fixed;
  z-index: 100;
  background-color: #fff;
  text-align: center;
  border-bottom: 3px solid #ff7f00;

  .container {
    height: 100%;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  img {
    width: 200px;
    height: auto;
    max-width: 70vw;
  }

  #h_nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    padding: 0 15px;
    background-color: #fff;
    border-top: 3px solid #ff8300;
    box-sizing: border-box;

    ul {
      list-style: none;
      width: calc(100% + 10px);
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 -5px;

      li {
        width: 220px;
        height: 67px;
        background-color: #ff8300;
        border-radius: 10px;
        margin: 0 5px;
        box-shadow: 2px 2px 4px #aaa;
        transition: .5s;

        &:nth-child(2) {
          background-color: #0ab01a;
        }

        &:hover {
          transform: scale(.95);
        }

        a {
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          padding: 0 10px;
          box-sizing: border-box;
          font-size: 4vw;
          font-weight: bold;

          &:hover {
            text-decoration: none;
          }

          img {
            height: 30px;
            max-height: 8vw;
            width: auto;
            margin-right: 10px;
          }

          @media(min-width: 420px) {
            padding: 0 20px;
            justify-content: space-between;
            font-size: 15px;

            img {
              margin-right: 0;
            }
          }

          &::after {
            @media(min-width: 420px) {
              content: "";
              display: block;
              border-top: 1px solid #fff;
              border-right: 1px solid #fff;
              width: 10px;
              height: 10px;
              transform-origin: center center;
              transform: rotate(45deg);
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    .container {
      max-width: 1200px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    #h_nav {
      position: static;
      border: none;
      width: auto;
      height: auto;
      padding: 0;

      ul {
        li {
          width: 200px;
          height: 63px;
        }
      }
    }
  }
}

footer {
  padding: 90px 0 130px;
  background-color: #111111;
  color: #fff;
  text-align: center;
  border-top: 7px solid #ff8300;

  .logo {
    text-align: center;
    padding-bottom: 90px;

    img {
      width: 200px;
      height: auto;
      max-width: 70vw;
    }
  }

  dl {
    text-align: left;
    max-width: 300px;
    margin: 0 auto 90px;

    dd {
      margin-bottom: 20px;

      a {
        text-decoration: underline;
        margin-top: 0;
        padding: 0;
        border: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    a {
      margin-top: 20px;
      padding-bottom: 3px;
      border-bottom: 1px solid #fff;
      display: inline-block;
      color: #fff;

      &:hover {
        text-decoration: none;
      }
    }
  }

  @media screen and (min-width: 768px) {
    padding: 90px 0;

    .container {
      max-width: 1200px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }

    .logo {
      width: 50%;
      padding: 0;
    }

    dl {
      width: 50%;
      padding: 40px 0;
      padding-left: 30px;
      margin: 0;
      max-width: none;
      border-left: 1px solid #333333;
    }

    .copy {
      margin-top: 40px;
      width: 100%;
    }
  }

  @media screen and (min-width: 1200px) {
    .logo {
      text-align: left;
      width: 25%;
    }

    dl {
      max-width: none;
      padding-left: 80px;
      padding-right: 80px;
      width: 40%;
      border-right: 1px solid #333333;
    }

    .copy {
      margin-top: 0;
      text-align: right;
      width: 35%;
    }
  }
}

.container {
  width: calc(100% - 30px);
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    max-width: 1140px;
    width: calc(100% - 80px);
  }
}

main {
  padding-top: 90px;
}

.text_404 {
  text-align: center;
  margin-top: 40px;
}

.btn_404 {
  display: block;
  margin: 40px auto 0;
  background-color: #ff8300;
  border-radius: 15px;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  padding: 25px 10px;
  box-shadow: 2px 2px 6px #aaa;
  width: 100%;
  max-width: 200px;
  box-sizing: border-box;
  transition: .5s;
  position: relative;
  border: none;
  cursor: pointer;
  text-align: center;
  position: relative;

  &:hover {
    text-decoration: none;
    transform: scale(0.95);
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    width: 10px;
    height: 10px;
    transform-origin: center center;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%) rotate(45deg);
  }
}

.estimate_alert {
  display: none;
}

.error .estimate_alert {
  display: block;
  font-weight: bold;
  color: #dd0000;
  margin-bottom: 20px;
}

.error_screen {

  .q5-1_wrap,
  .q5-2_wrap,
  .q5-3_wrap {
    padding-bottom: 50px !important;
  }
}

main .error_screen .step5 span.error {
  top: calc(100% - 40px) !important;
}
