a {
    display: inline-block;
    text-decoration: none;
    position: relative;
}

a::before {
    /* ボタンと同じサイズの白い半透明の疑似要素beforeを作成し、非表示にしておく */
    display: none;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
    opacity: 0.5;
	border-top-left-radius: 7% 14%;
    border-top-right-radius: 7% 14%;
    border-bottom-right-radius: 7% 14%;
    border-bottom-left-radius: 7% 14%;
}

a:hover::before {
    /* マウスホバー時に先程作成したbeforeを表示させる */
    display: block;
}